{% extends "layout.html" %}


{% block content %}
  <h2>Login</h2>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
  <a href="javascript:void(0)" onclick="return open_social_windows('{% url 'social:begin' 'google-oauth2' %}')">Login with Google</a><br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
  <a href="javascript:void(0)" onclick="return open_social_windows('{% url 'social:begin' 'github' %}')">Login with GitHub</a><br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a><br>
  <a href="javascript:void(0)" onclick="return open_social_windows('{% url 'social:begin' 'twitter' %}')">Login with Twitter</a><br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'linkedin-oauth2' %}">Login with Linkedin</a><br>
  <a href="javascript:void(0)" onclick="return open_social_windows('{% url 'social:begin' 'linkedin-oauth2' %}')">Login with Linkedin</a><br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>
  <a href="javascript:void(0)" onclick="return open_social_windows('{% url 'social:begin' 'facebook' %}')">Login with Facebook</a><br>

<script type="text/javascript">
      function open_social_windows(url){
          window.open (url,"social_window", 'status=yes,toolbar=no,menubar=no,location=no"');
          var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
          var eventer = window[eventMethod];
          var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
          // Listen to message from child window
          eventer(messageEvent,function(e) {
            console.log(e.data);
          }, false);
      }
</script>
{% endblock %}
