{% extends "layout.html" %}
{% block content %}
	<h2>Please wait...</h2>
	<script>
		let response = {data:{access_token:"{{ access_token }}",provider:"{{provider}}"}};
		// window.opener.postMessage(response, '*');

		document.addEventListener('DOMContentLoaded', function () {
            // window.postMessage('Without timeout', '*'); // Doesnt work
            setTimeout(() => window.opener.postMessage(response, '*'), window.postMessage(response, '*'), 5000); // Works

			try {
				window.close();//for web 
			} catch (error) {
				
			}
        }, false);
	</script>
{% endblock content %}
